.footer-title{
    top: 3693px;
left: 103px;
width: 258px;
height: 32px;
text-align: left;
font: normal normal normal 32px/32px Roboto Mono for Powerline;
letter-spacing: 3.2px;
color: #7070704D;
text-transform: uppercase;
opacity: 1;
}


.footer-wrap{
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 3900px;
}

.footer-icon{
    display: flex;
}

.footer{
    display: flex;
}